<div>
    <div id="roomHeader">
        <h3 id="headerText">Hi</h3>
    </div>
    <div id="chatlog"></div>
    <div id="sendDiv">
        <input type="text" id="message_input">
        <button id="msg">send</button>
    </div>
        
 </div>