#checkerBoard{
    width: 100%;
    height: 90vh;
}
#checkerBoard td{
    width: 12.5%;
    height: 12.5%;
}

#checkerBoard img{
    max-width:50%;
    max-height:50%;
    float:left;
    padding-left: 23px;
    padding-right: 15px;
}