#cfBoard{
    width: 50%;
    height: 70vh;
    background-color: azure;
}
#cfBoard td{
    width: 14%;
    height: 16.5%;
    text-align: center;
    font-size: 30pt;
    
}
td{
    border-right: 2px black solid;
    border-bottom: 2px black solid;
    border-top: 2px black solid;
    border-left: 2px black solid;
}