<div>
    <table id="cfBoard" >
        <tr>
            <td id="cfr5c0" class="r5 c0"></td>
            <td id="cfr5c1" class="r5 c1"></td>
            <td id="cfr5c2" class="r5 c2"></td>
            <td id="cfr5c3" class="r5 c3"></td>
            <td id="cfr5c4" class="r5 c4"></td>
            <td id="cfr5c5" class="r5 c5"></td>
            <td id="cfr5c6" class="r5 c6"></td>
        </tr>
        <tr>
            <td id="cfr4c0" class="r4 c0"></td>
            <td id="cfr4c1" class="r4 c1"></td>
            <td id="cfr4c2" class="r4 c2"></td>
            <td id="cfr4c3" class="r4 c3"></td>
            <td id="cfr4c4" class="r4 c4"></td>
            <td id="cfr4c5" class="r4 c5"></td>
            <td id="cfr4c6" class="r4 c6"></td>
        </tr>
        <tr>
            <td id="cfr3c0" class="r3 c0"></td>
            <td id="cfr3c1" class="r3 c1"></td>
            <td id="cfr3c2" class="r3 c2"></td>
            <td id="cfr3c3" class="r3 c3"></td>
            <td id="cfr3c4" class="r3 c4"></td>
            <td id="cfr3c5" class="r3 c5"></td>
            <td id="cfr3c6" class="r3 c6"></td>
        </tr>
        <tr>
            <td id="cfr2c0" class="r2 c0"></td>
            <td id="cfr2c1" class="r2 c1"></td>
            <td id="cfr2c2" class="r2 c2"></td>
            <td id="cfr2c3" class="r2 c3"></td>
            <td id="cfr2c4" class="r2 c4"></td>
            <td id="cfr2c5" class="r2 c5"></td>
            <td id="cfr2c6" class="r2 c6"></td>
        </tr>
        <tr>
            <td id="cfr1c0" class="r1 c0"></td>
            <td id="cfr1c1" class="r1 c1"></td>
            <td id="cfr1c2" class="r1 c2"></td>
            <td id="cfr1c3" class="r1 c3"></td>
            <td id="cfr1c4" class="r1 c4"></td>
            <td id="cfr1c5" class="r1 c5"></td>
            <td id="cfr1c6" class="r1 c6"></td>
        </tr>
        <tr>
            <td id="cfr0c0" class="r0 c0"></td>
            <td id="cfr0c1" class="r0 c1"></td>
            <td id="cfr0c2" class="r0 c2"></td>
            <td id="cfr0c3" class="r0 c3"></td>
            <td id="cfr0c4" class="r0 c4"></td>
            <td id="cfr0c5" class="r0 c5"></td>
            <td id="cfr0c6" class="r0 c6"></td>
        </tr>
    </table>
    
    <div type="text" id="cfDisp">
        <button id="yes">Sure!</button><button id="no">Nah...</button>
    </div>
</div>