
#chatlog{
    width: 90%;
    height: 75%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
}

#gameDiv{
    width: 60%;
    float: left;
    position: relative;
}
#chatDiv{
    border: solid 2px;
    width: 30%;
    height: 80vh;
    margin-left: auto;
    margin-right: 20px;
    border-radius: 10px;
    position: relative;
    text-align: center;
    float: right;
    padding: 30px;
}
#main{
    height: 90vh;
    width: 100%;
    float:left;
    position: relative;
}


#sendDiv{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 7%;
    position: relative;
}
#msg{
    height: 20px;
    float: right;
}

#roomHeader{
    height: 5%;
}

#message_input{
    height: 100%;
    width: 80%;
    border-radius: 7px;
    border: solid 1px black;
    overflow: scroll;
}


button{
    width: 60px;
    position: relative;
}
input{
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
h3 {
   font-family: Verdana;
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto; 
}



