<div>
    <table id="tttBoard" >
        <tr>
            <td id="ttt1" class="left top"></td>
            <td id="ttt2" class="top"></td>
            <td id="ttt3" class="right top"></td>
        </tr>
        <tr>
            <td id="ttt4"class="left"></td>
            <td id="ttt5"></td>
            <td id="ttt6" class="right"></td>
        </tr>
        <tr>
            <td id="ttt7" class="left bottom"></td>
            <td id="ttt8" class="bottom"></td>
            <td id="ttt9" class="right bottom"></td>
        </tr>
    </table>
    
    <div type="text" id="tttDisp">
        <button id="yes">Sure!</button><button id="no">Nah...</button>
    </div>
</div>    



