#tttBoard{
    width: 30%;
    height: 50vh;
    background-color: azure;
}
#tttBoard td{
    width: 33%;
    height: 33%;
    text-align: center;
    font-size: 30pt;
    
}
#tttBoard td.left{
    border-right: 2px black solid;
}
#tttBoard td.left.top{
    border-bottom: 2px black solid;
}
#tttBoard td.left.bottom{
    border-top: 2px black solid;
}

#tttBoard td.right{
    border-left: 2px black solid;
}

#tttBoard td.right.top{
    border-bottom: 2px black solid;
}
#tttBoard td.right.bottom{
    border-top: 2px black solid;
}

#tttBoard td.top{
    border-bottom: 2px black solid;
}
#tttBoard td.bottom{
    border-top: 2px black solid;
}
